<!-- ajaxModal content -->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h2 class="modal-title">Select Active Chllenges</h2>
</div>
<div class="modal-body">
    {% if entities | length == 0 %}
        <div class="text-center">There are no active challenges</div>
    {% else %}
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                        <table id="activeChallenges" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>CID</th>
                                <th>Name</th>
                                <th>Sku</th>
                                <th>Category</th>
                                <th>Start Date</th>
                                <th>End date</th>
                                <th>Duration</th>
                                <th>Reward Name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>CID</th>
                                <th>Name</th>
                                <th>Sku</th>
                                <th>Category</th>
                                <th>Start Date</th>
                                <th>End date</th>
                                <th>Duration</th>
                                <th>Reward Name</th>
                                <th>Actions</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for entity in entities %}
                            <tr>
                                <td>{{ entity.campaignId }}</td>
                                <td><a href="#" id="challenge_{{ entity.id }}" data-dismiss="modal">{{ entity.name }}</a></td>
                                <td>{{ entity.sku }}</td>
                                <td>{{ entity.category }}</td>
                                <td>{{ entity.startDate | date("M j, Y", false) }}</td>
                                <td>{{ entity.endDate | date("M j, Y", false) }}</td>
                                <td>{{ entity.duration }} days</td>
                                <td>{{ entity.rewardName }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                    </div>
            </div>
        </div>
    {% endif %}
</div>
<div class="modal-footer">
    <button type="button" class="btn default" data-dismiss="modal">Close</button>
</div>
