{% extends 'codewiseCRMBundle::layout.html.twig' %}
{%block pageTitle %}
Add New Loyalty Challenge Cloning from an existing one
{% endblock pageTitle %}

{% block content %}
{% if error==0 %}
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-reorder"></i>Add New Loyalty Challenge Cloning from an existing one
                </div>
            </div>
            <div class="portlet-body form">
                <div id="msgCheckCampaignId" class="alert alert-danger fade in">
                    <strong>Error!</strong> This Campaign Id is already in use.<br />
                        Please try other one.<br/>
                </div>
                <div id="msgCheckSku" class="alert alert-danger fade in">
                    <strong>Error!</strong> This Sku is already in use.<br />
                        Please try other one.<br/>
                </div>
                {{ form_start(form) }}
                    <div class="form-body">
                        {% for field in form %}
                            {% if field.vars.name == 'endDate' %}
                                {{ form_row(field) }}
                                    <div id="msgCheckdates" class="alert alert-danger fade in">
                                        <strong>Error!</strong> Date range is invalid.<br />
                                        Please try other one.<br/>
                                    </div>
                            {% elseif field.vars.name == "slug" %}
                                {{ form_row(field) }}
                                    <div id="msgCheckSlug" class="alert alert-danger fade in">
                                        <strong>Error!</strong> This Slug is already in use.<br />
                                        Please try other one.<br/>
                                    </div>
                            {% elseif field.vars.name == "LoyaltyChallengeRequirements0" %}
                                <div  id= "challenge_requirements0" class="alert alert-info fade in">
                                    {{ form_row(field) }}
                                </div>
                            {% elseif field.vars.name == "LoyaltyChallengeRequirements1" %}
                                <div  id= "challenge_requirements1" class="alert alert-info fade in">
                                    {{ form_row(field) }}
                                </div>
                            {% elseif field.vars.name == "LoyaltyChallengeRequirements2" %}
                                <div  id= "challenge_requirements2" class="alert alert-info fade in">
                                    {{ form_row(field) }}
                                </div>
                            {% else %}
                                {{ form_row(field) }}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div id="msgCheckRequirements" class="alert alert-danger fade in">
                        <strong>Error!</strong> You must fill the requirements.<br />
                            Please try again.<br/>
                    </div>
                    <div id="msgCheckWeekDays" class="alert alert-danger fade in">
                        <strong>Error!</strong> Weekday Max. must be equal or greater than Weekday Min.<br />
                            Please try again.<br/>
                    </div>
                    <div class="form-actions">
                        <button class="btn blue" type="submit">Submit</button>
                        <button class="btn default" type="button" onclick="history.go(-1);">Cancel</button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</ul>
{% elseif error==1 %}
<div class="row">
    <div class="col-md-12">      
        <div class="alert alert-danger fade in">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Error!</strong> This campaign Id is already in use.<br />
            Please use another one.<br/>
        </div>
    </div>
</div>
{% elseif error==2 %}
<div class="row">
    <div class="col-md-12">      
        <div class="alert alert-danger fade in">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Error!</strong> This Sku is already in use.<br />
            Please use another one.<br/>
        </div>
    </div>
</div>
{% elseif error==3 %}
<div class="row">
    <div class="col-md-12">      
        <div class="alert alert-danger fade in">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Error!</strong> A problem has been occurred while processing you request.<br />
            Please try again or contact your systems administrator.<br/>
        </div>
    </div>
</div>
{% elseif error==4 %}
<div class="row">
    <div class="col-md-12">      
        <div class="alert alert-danger fade in">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Error!</strong> This Slug is already in use.<br />
            Please use another one.<br/>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}
{% block readyScripts %}

$(function() {
    $( "#LoyaltyChallenge_startDate" ).datepicker({
                dateFormat: "yy-mm-dd",
                minDate: +2
            });
    $( "#LoyaltyChallenge_endDate" ).datepicker({
                dateFormat: "yy-mm-dd",
                minDate: +3
            });
});

$("#msgCheckCampaignId").hide();
$("#msgCheckSku").hide();
$("#msgCheckSlug").hide();
$("#msgCheckdates").hide();
$("#msgCheckRequirements").hide();
$("#msgCheckWeekDays").hide();

$( "#LoyaltyChallenge_campaignId" ).focus(function(){
    $("#msgCheckCampaignId").hide();
});

$( "#LoyaltyChallenge_sku" ).focus(function(){
    $("#msgCheckSku").hide();
});

$( "#LoyaltyChallenge_slug" ).focus(function(){
    $("#msgCheckSlug").hide();
});

$( "#LoyaltyChallenge_startDate" ).focus(function(){
    $("#msgCheckdates").hide();
});

$("#LoyaltyChallenge_campaignId").blur(function(){

    $.post("{{ path('LoyaltyChallengescheckCampaignId') }}",$('#LoyaltyChallenge_campaignId').serialize())
        .done(function( data ) {
            if(data.success == 0){$("#msgCheckCampaignId").show();}
        });  
});

$("#LoyaltyChallenge_sku").blur(function(){

    $.post("{{ path('LoyaltyChallengescheckSku') }}",$('#LoyaltyChallenge_sku').serialize())
        .done(function( data ) {
            if(data.success == 0){$("#msgCheckSku").show();}
        });  
});

$("#LoyaltyChallenge_slug").blur(function(){

    $.post("{{ path('LoyaltyChallengescheckSlug') }}",$('#LoyaltyChallenge_slug').serialize())
        .done(function( data ) {
            if(data.success == 0){$("#msgCheckSlug").show();}
        });  
});

$( "#LoyaltyChallenge_startDelay" ).focus(function(){
    var startDate = document.getElementById('LoyaltyChallenge_startDate');
    var endDate =  document.getElementById('LoyaltyChallenge_endDate');
    startDateObj = new Date(startDate.value);
    endDateObj = new Date(endDate.value);
    start = startDateObj.getTime();
    end = endDateObj.getTime();
    if (start>end){$("#msgCheckdates").show();}else{$("#msgCheckdates").hide();}
});

$("#challenge_requirements0").hide();

$("#LoyaltyChallenge_challengeRequirements0").change(function(){
    $("#challenge_requirements0").show();
    $("#msgCheckRequirements").hide();

    $("#LoyaltyChallenge_LoyaltyChallengeRequirements0_quantity").parents(".form-group").hide();
    $("#LoyaltyChallenge_LoyaltyChallengeRequirements0_count").parents(".form-group").hide();
    $("#LoyaltyChallenge_LoyaltyChallengeRequirements0_minPoints").parents(".form-group").hide();
    $("#LoyaltyChallenge_LoyaltyChallengeRequirements0_amount").parents(".form-group").hide();
    $("#LoyaltyChallenge_LoyaltyChallengeRequirements0_shift").parents(".form-group").hide();
    $("#LoyaltyChallenge_LoyaltyChallengeRequirements0_survey").parents(".form-group").hide();
    $("#LoyaltyChallenge_LoyaltyChallengeRequirements0_takeout").parents(".form-group").hide();
    $("#LoyaltyChallenge_LoyaltyChallengeRequirements0_weekdayMin").parents(".form-group").hide();
    $("#LoyaltyChallenge_LoyaltyChallengeRequirements0_weekdayMax").parents(".form-group").hide();
    $("#LoyaltyChallenge_LoyaltyChallengeRequirements0_numVisits").parents(".form-group").hide();
    
    var requirement = document.getElementById('LoyaltyChallenge_challengeRequirements0')
        .options[document.getElementById('LoyaltyChallenge_challengeRequirements0').selectedIndex]
        .text;
    switch (requirement) {
        case 'Check Category':
            $("#LoyaltyChallenge_LoyaltyChallengeRequirements0_quantity").parents(".form-group").show();
            break;
        case 'Check Reward':
            $("#LoyaltyChallenge_LoyaltyChallengeRequirements0_count").parents(".form-group").show();
            $("#LoyaltyChallenge_LoyaltyChallengeRequirements0_minPoints").parents(".form-group").show();
            break;
        case 'Check Spend':
            $("#LoyaltyChallenge_LoyaltyChallengeRequirements0_amount").parents(".form-group").show();
            break;
        case 'Check Shift':
            $("#LoyaltyChallenge_LoyaltyChallengeRequirements0_shift").parents(".form-group").show();
            break;
        case 'Check Survey':
            $("#LoyaltyChallenge_LoyaltyChallengeRequirements0_survey").parents(".form-group").show();
            break;
        case 'Check Takeout':
            $("#LoyaltyChallenge_LoyaltyChallengeRequirements0_takeout").parents(".form-group").show();
            break;
        case 'Check Weekday':
            $("#LoyaltyChallenge_LoyaltyChallengeRequirements0_weekdayMin").parents(".form-group").show();
            $("#LoyaltyChallenge_LoyaltyChallengeRequirements0_weekdayMax").parents(".form-group").show();
            break;
        case 'Consumer Frequency':
            $("#LoyaltyChallenge_LoyaltyChallengeRequirements0_numVisits").parents(".form-group").show();
            break;
    }
});

$("#challenge_requirements1").hide();

$("#LoyaltyChallenge_challengeRequirements1").change(function(){
    $("#challenge_requirements1").show();

    $("#LoyaltyChallenge_LoyaltyChallengeRequirements1_quantity").parents(".form-group").hide();
    $("#LoyaltyChallenge_LoyaltyChallengeRequirements1_count").parents(".form-group").hide();
    $("#LoyaltyChallenge_LoyaltyChallengeRequirements1_minPoints").parents(".form-group").hide();
    $("#LoyaltyChallenge_LoyaltyChallengeRequirements1_amount").parents(".form-group").hide();
    $("#LoyaltyChallenge_LoyaltyChallengeRequirements1_shift").parents(".form-group").hide();
    $("#LoyaltyChallenge_LoyaltyChallengeRequirements1_survey").parents(".form-group").hide();
    $("#LoyaltyChallenge_LoyaltyChallengeRequirements1_takeout").parents(".form-group").hide();
    $("#LoyaltyChallenge_LoyaltyChallengeRequirements1_weekdayMin").parents(".form-group").hide();
    $("#LoyaltyChallenge_LoyaltyChallengeRequirements1_weekdayMax").parents(".form-group").hide();
    $("#LoyaltyChallenge_LoyaltyChallengeRequirements1_numVisits").parents(".form-group").hide();
    
    var requirement = document.getElementById('LoyaltyChallenge_challengeRequirements1')
        .options[document.getElementById('LoyaltyChallenge_challengeRequirements1').selectedIndex]
        .text;
    switch (requirement) {
        case 'Check Category':
            $("#LoyaltyChallenge_LoyaltyChallengeRequirements1_quantity").parents(".form-group").show();
            break;
        case 'Check Reward':
            $("#LoyaltyChallenge_LoyaltyChallengeRequirements1_count").parents(".form-group").show();
            $("#LoyaltyChallenge_LoyaltyChallengeRequirements1_minPoints").parents(".form-group").show();
            break;
        case 'Check Spend':
            $("#LoyaltyChallenge_LoyaltyChallengeRequirements1_amount").parents(".form-group").show();
            break;
        case 'Check Shift':
            $("#LoyaltyChallenge_LoyaltyChallengeRequirements1_shift").parents(".form-group").show();
            break;
        case 'Check Survey':
            $("#LoyaltyChallenge_LoyaltyChallengeRequirements1_survey").parents(".form-group").show();
            break;
        case 'Check Takeout':
            $("#LoyaltyChallenge_LoyaltyChallengeRequirements1_takeout").parents(".form-group").show();
            break;
        case 'Check Weekday':
            $("#LoyaltyChallenge_LoyaltyChallengeRequirements1_weekdayMin").parents(".form-group").show();
            $("#LoyaltyChallenge_LoyaltyChallengeRequirements1_weekdayMax").parents(".form-group").show();
            break;
        case 'Consumer Frequency':
            $("#LoyaltyChallenge_LoyaltyChallengeRequirements1_numVisits").parents(".form-group").show();
            break;
    }
});

$("#challenge_requirements2").hide();

$("#LoyaltyChallenge_challengeRequirements2").change(function(){
    $("#challenge_requirements2").show();

    $("#LoyaltyChallenge_LoyaltyChallengeRequirements2_quantity").parents(".form-group").hide();
    $("#LoyaltyChallenge_LoyaltyChallengeRequirements2_count").parents(".form-group").hide();
    $("#LoyaltyChallenge_LoyaltyChallengeRequirements2_minPoints").parents(".form-group").hide();
    $("#LoyaltyChallenge_LoyaltyChallengeRequirements2_amount").parents(".form-group").hide();
    $("#LoyaltyChallenge_LoyaltyChallengeRequirements2_shift").parents(".form-group").hide();
    $("#LoyaltyChallenge_LoyaltyChallengeRequirements2_survey").parents(".form-group").hide();
    $("#LoyaltyChallenge_LoyaltyChallengeRequirements2_takeout").parents(".form-group").hide();
    $("#LoyaltyChallenge_LoyaltyChallengeRequirements2_weekdayMin").parents(".form-group").hide();
    $("#LoyaltyChallenge_LoyaltyChallengeRequirements2_weekdayMax").parents(".form-group").hide();
    $("#LoyaltyChallenge_LoyaltyChallengeRequirements2_numVisits").parents(".form-group").hide();
    
    var requirement = document.getElementById('LoyaltyChallenge_challengeRequirements2')
        .options[document.getElementById('LoyaltyChallenge_challengeRequirements2').selectedIndex]
        .text;
    switch (requirement) {
        case 'Check Category':
            $("#LoyaltyChallenge_LoyaltyChallengeRequirements2_quantity").parents(".form-group").show();
            break;
        case 'Check Reward':
            $("#LoyaltyChallenge_LoyaltyChallengeRequirements2_count").parents(".form-group").show();
            $("#LoyaltyChallenge_LoyaltyChallengeRequirements2_minPoints").parents(".form-group").show();
            break;
        case 'Check Spend':
            $("#LoyaltyChallenge_LoyaltyChallengeRequirements2_amount").parents(".form-group").show();
            break;
        case 'Check Shift':
            $("#LoyaltyChallenge_LoyaltyChallengeRequirements2_shift").parents(".form-group").show();
            break;
        case 'Check Survey':
            $("#LoyaltyChallenge_LoyaltyChallengeRequirements2_survey").parents(".form-group").show();
            break;
        case 'Check Takeout':
            $("#LoyaltyChallenge_LoyaltyChallengeRequirements2_takeout").parents(".form-group").show();
            break;
        case 'Check Weekday':
            $("#LoyaltyChallenge_LoyaltyChallengeRequirements2_weekdayMin").parents(".form-group").show();
            $("#LoyaltyChallenge_LoyaltyChallengeRequirements2_weekdayMax").parents(".form-group").show();
            break;
        case 'Consumer Frequency':
            $("#LoyaltyChallenge_LoyaltyChallengeRequirements2_numVisits").parents(".form-group").show();
            break;
    }
});

$( "form" ).submit(function( event ) {
    var requirement = document.getElementById('LoyaltyChallenge_challengeRequirements0')
        .options[document.getElementById('LoyaltyChallenge_challengeRequirements0').selectedIndex]
        .text;
    var quantity = document.getElementById('LoyaltyChallenge_LoyaltyChallengeRequirements0_quantity').value;
    var count = document.getElementById('LoyaltyChallenge_LoyaltyChallengeRequirements0_count').value;
    var minPoints = document.getElementById('LoyaltyChallenge_LoyaltyChallengeRequirements0_minPoints').value;
    var amount = document.getElementById('LoyaltyChallenge_LoyaltyChallengeRequirements0_amount').value;
    var shift = document.getElementById('LoyaltyChallenge_LoyaltyChallengeRequirements0_shift').value;
    var survey = document.getElementById('LoyaltyChallenge_LoyaltyChallengeRequirements0_survey').value;
    var takeout = document.getElementById('LoyaltyChallenge_LoyaltyChallengeRequirements0_takeout').value;
    var weekdayMin = document.getElementById('LoyaltyChallenge_LoyaltyChallengeRequirements0_weekdayMin').value;
    var weekdayMax = document.getElementById('LoyaltyChallenge_LoyaltyChallengeRequirements0_weekdayMax').value;
    var weekdayMin1 = document.getElementById('LoyaltyChallenge_LoyaltyChallengeRequirements1_weekdayMin').value;
    var weekdayMax1 = document.getElementById('LoyaltyChallenge_LoyaltyChallengeRequirements1_weekdayMax').value;
    var weekdayMin2 = document.getElementById('LoyaltyChallenge_LoyaltyChallengeRequirements2_weekdayMin').value;
    var weekdayMax2 = document.getElementById('LoyaltyChallenge_LoyaltyChallengeRequirements2_weekdayMax').value;
    var numVisits = document.getElementById('LoyaltyChallenge_LoyaltyChallengeRequirements0_numVisits').value;
    if (!quantity && !count && !minPoints && !amount && !shift && !survey && !takeout && !weekdayMin && !weekdayMax && !numVisits) {
        $("#msgCheckRequirements").show();
        event.preventDefault();
    }
    if (requirement == 'Select a Requirement...') {
        $("#msgCheckRequirements").show();
        event.preventDefault();
    }
    if (weekdayMin>weekdayMax) {
        $("#msgCheckWeekDays").show();
        event.preventDefault();
    }
    if (weekdayMin1>weekdayMax1) {
        $("#msgCheckWeekDays").show();
        event.preventDefault();
    }
    if (weekdayMin2>weekdayMax2) {
        $("#msgCheckWeekDays").show();
        event.preventDefault();
    }
});

{% endblock %}