<!-- ajaxModal content -->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">Change PIN for Loyalty Member #{{ app.request.get('codewiseMemberId') }}</h4>
</div>
<div class="modal-body">
    <div class="row-fluid">
        {{ form_start(form, { attr: { role: 'form' } }) }}
        {{ form_row(form.newPin) }}
        {{ form_row(form.notes) }}
        <div class="form-group">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn default" data-dismiss="modal">Close</button>
</div>
<!-- ajaxModal content -->
<script type="text/javascript">
    $('form').submit(function (e) {
        e.preventDefault();
        var url = '{{ path('codewise_loyalty_change_pin', { codewiseMemberId: app.request.get('codewiseMemberId') }) }}';
        var data = $(this).serialize();
        $.post(url, data, function (data) {
            var modalBody = $('#ajaxModal .modal-body');
            if (data.errors) {
                console.log(data.errors);
                for (k in data.errors) {
                    $( "#loyalty_change_pin_" + k ).parent().addClass('text-danger');
                    $( "#loyalty_change_pin_" + k ).before('<span class="has-error">' + data.errors[k] + '</span>');
                }
            }
            else if (data.success) {
                modalBody.css('color', 'green');
                modalBody.html(data.errorMessage);
                addNotes(data.notes);
            } else {
                modalBody.css('color', 'red');
                modalBody.html(data.errorMessage);
            }
        });
    });
</script>
