<!-- ajaxModal content -->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">Request Points for Loyalty Member #{{ app.request.get('codewiseMemberId') }}</h4>
</div>
<div class="modal-body">
    <div class="row-fluid">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'} }) }}
        {{ form_errors(form) }}
        {{ form_row(form.codewiseMemberId, {'label': 'codewise Member ID', 'attr': {'readonly': null } }) }}
        {{ form_row(form.businessDate, {'label': 'Business Date'}) }}
        {{ form_row(form.checkNumber, {'label': 'Check Number'}) }}
        {{ form_row(form.checkTotal, {'label': 'Check Total', 'attr': {'style': 'position: relative; z-index: 0;'} }) }}
        {{ form_row(form.storeNumber, {'label': 'Store Number'}) }}
        <div class="form-group">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn default" data-dismiss="modal">Close</button>
</div>
<!-- ajaxModal content -->
<script>
    $('.datepicker').datepicker({dateFormat: 'mm/dd/yy'});
    $('form').submit(function (e) {
        e.preventDefault();
        var url = '{{ path('codewise_loyalty_consumer_request_points', {'codewiseMemberId': app.request.get('codewiseMemberId') }) }}';
        var data = $(this).serialize();
        $.post(url, data, function (data) {
            var modalBody = $('#ajaxModal .modal-body');
            if (data.success) {
                modalBody.css('color', 'green');
                modalBody.html('Point Request Submission Successful!');
            } else {
                modalBody.css('color', 'red');
                modalBody.html('Point Request Submission Failed!');
            }
        });
    });
</script>
